.about-container {
  display: flex;
  flex-direction: "row";
  justify-content: space-evenly;
  align-items: center;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
  order: 1;
}

.about-right {
  order: 2;
  margin-bottom: 5em;
}

@media (max-width: 960px) {
  .about-container {
    flex-flow: column wrap;
    transform: scale(0.8);
  }

  .about-left {
    order: 2;
    width: 90%;
  }

  .about-right {
    order: 1;
  }
}
