.education-card-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0px;
  margin: 0px auto;
}

.education-card {
  display: flex;
  flex-direction: row !important;
}

.education-card:hover + .education-card-border {
  border-color: #00e1ff;
  width: 100%;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.education-card-border {
  height: 30px;
  width: 90%;
  border-top: 2px solid rgba(211, 211, 211, 0.397);
  margin: 20px 0;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.education-roundedimg {
  object-fit: cover;
  width: 8rem !important;
  height: 8rem !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.education-card-right {
  margin-left: 2%;
  display: flex;
  flex-direction: column !important;
  text-align: left;
}

.education-bullets-title {
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

@media (max-width: 1050px) {
  .education-card-container {
    padding: 0;
    transform: scale(0.8);
    width: 100%;
  }

  .education-card-border {
    width: 100%;
  }

  .education-roundedimg {
    object-fit: cover;
    width: 6rem !important;
    height: 6rem !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }

  .education-card-right {
    order: 1;
  }

  .education-card-left {
    order: 2;
  }
}
