.projects-grid {
  display: grid;
  justify-items: stretch;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  grid-template-rows: auto;
  padding: 0 10em;
}

.project-card-div {
  background-color: rgba(0, 0, 0, 0.753);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  padding: 2rem;
  cursor: pointer;
}

.project-card-div:hover {
  transform: scale(1.1);
  border: 2px solid #00e1ff;
}

.project-card-div:hover .project-name {
  color: #00e1ff !important;
  transform: scale(1.1);
}

.project-stats {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 13px;
  color: rgb(106, 115, 125);
}

.project-left-tag {
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  padding: 3px 6px;
  border: 2px solid gray;
  border-radius: 10px;
  border-spacing: 10px;
}

.project-left-icon {
  margin-right: 6px;
}

.project-name-div {
  display: flex;
  align-items: center;
}

.project-icon {
  margin-right: 6px;
}

.project-svg {
  margin-right: 0.5rem;
  min-width: 16px;
}

.project-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(255, 255, 255);
  margin-bottom: 0.75rem;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  overflow: hidden;
  margin: 0px 5px;
}

.project-star-svg {
  margin-right: 0.3rem;
}

.project-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
