.skills-grid {
  display: grid;
  justify-items: center;
  column-gap: 2em;
  row-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  grid-template-rows: auto;
  padding: 0 10em;
}

.skill-card-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 550px;
  background-color: rgba(0, 0, 0, 0.753);
  color: white;
}

.skill-card-div:hover {
  transform: scale(1.08);
  border: 2px solid #00e1ff;
}

.skill-card-div:hover .skill-name {
  color: #00e1ff !important;
  transform: scale(1.1);
}

.skill-left {
}

.skill-right {
  padding: 1em 0;
  padding-right: 2em;
  text-align: center;
}

.skill-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(255, 255, 255);
  margin-bottom: 0.75rem;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  overflow: hidden;
  margin: 0px 20px;
}

.skill-proficiency {
  margin-bottom: 0.5em;
}

.skill-details {
  margin: auto;
  width: 87%;
}
