.skills-grid {
  display: grid;
  justify-items: center;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 5em;
}

.skill-card-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 680px;
  background-color: rgba(0, 0, 0, 0.6);
}

.skill-card-div:hover {
  transform: scale(1.04);
  border: 2px solid #00e1ff;
}

.skill-card-div:hover .skill-name {
  color: #00e1ff !important;
}

.skill-left {
  width: 80px;
}

.skill-right {
  padding: 1em 0;
  padding-left: 0 !important;
  text-align: center;
}

.skill-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(255, 255, 255);
  margin-bottom: 0.75rem;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  overflow: hidden;
  margin: 0px 20px;
}

.skill-proficiency {
  margin-bottom: 0.5em;
}

.skill-details {
  font-size: 1.1em;
  margin: auto;
  width: 80%;
}

/* Small laptop screens */
@media screen and (min-width: 1001px) and (max-width: 1500px) {
  .skills {
    font-size: 80% !important;
  }
}

/* For mobile */
@media (max-width: 1000px) {
  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 0;
    padding: 0 0.5em !important;
  }

  .skill-card-div {
    transform: scale(0.9);
  }

  .skill-card-div:hover {
    transform: scale(0.95);
  }

  .skill-left {
    position: relative;
    transform: scale(0.8);
  }

  .skill-right {
    padding: 0 1em;
    transform: scale(0.9);
  }
}
