a {
  text-decoration: none !important;
}

.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  column-gap: 3em;
  row-gap: 1em;
  margin: 0 5em;
}

.experience-card {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(211, 211, 211, 0);
  min-height: 550px;
}

.experience-card:hover {
  border: 2px solid #00e1ff;
  transform: scale(1.05);
}

.experience-card:hover .experience-text-company {
  color: #00e1ff;
}

.experience-banner {
  display: flex;
  justify-content: center;
  height: 11rem;
}

.experience-company {
  color: white;
  font-size: 1.5em;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-img {
  position: absolute;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 7rem;
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
  height: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.experience-text-role {
  color: white !important;
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 25px;
  margin: 0px;
  padding-top: 2rem;
  line-height: normal;
}
.experience-text-date {
  color: white !important;
  text-align: center;
  color: black;
  font-size: 20px;
  margin: 0px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

.experience-text-desc {
  color: white !important;
  text-align: center;
  font-size: 1.1em;
}

.experience-text-desc-bullets {
  color: white !important;
  text-align: left;
  font-size: 1.1em;
}

.experience-text-details {
  padding: 1.5rem;
  margin-top: 2rem;
}

@media (max-width: 960px) {
  .work {
    height: 200vh !important;
  }

  .experience-cards-div {
    display: flex;
    flex-direction: column;
  }

  .experience-card {
    /* transform: scale(0.7) translate(-100px); */
    margin-top: 2em;
    font-size: 0.7em;
    min-height: 0;
  }

  .experience-text-role {
    font-size: 1.5em;
  }

  .experience-banner {
    height: 5rem;
  }

  .experience-company {
    height: 5rem;
  }

  .experience-text-details {
    margin-top: 0;
  }

  .experience-text-desc-bullets {
    padding-left: 10px !important;
  }

  .experience-img {
    top: 4rem;
    width: 4rem;
    height: auto;
  }

  .experience-card:hover {
    transform: scale(0.85);
  }
}
