

.main {
  background-color:#090909;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  height: auto;
}

.footer {
  min-height: 5vh; 
}  

.particles {
  left:0;
  top:0;
  width:100%;
  height:100%;
}